<div class="modal fade" id="sugerido" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog my-horizontal-center modal-xl">
    <h4 class="modal-title"></h4>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Portfolio sugerido</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="cerrarModal()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="perfil" *ngIf="!perfilObjetivoUsuario">
          <b>
            <h3>Todavía no realizaste el test objetivo</h3>
          </b>
          <div class="button-container">
            <a href="/dashboard/perfil-inversor">
              <button type="button" class="boton btn btn-sm mx-auto">
                OBTENÉ TU PERFIL AHORA
              </button>
            </a>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-6" *ngFor="let instrumento of portfolioSugerido">
            <div class="card mb-4" style="height: 100%;">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{instrumento.simbolo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{instrumento.descripcion}}</h6>
                <p class="card-text">Categoria de instrumento: {{instrumento.categoriaInstrumento}}</p>
                <div class="d-flex justify-content-between">
                  <p class="text-center">Mínimo: {{instrumento.minimo}}</p>
                  <p class="text-center" style="margin-left: 2rem;">Máximo: {{instrumento.maximo}}</p>
                </div>
                <div class="d-flex justify-content-center">
                  <button class="boton btn btn-sm mx-auto" data-dismiss="modal"
                    (click)="irAComprarInstrumento(instrumento.simbolo,instrumento.categoriaInstrumento)">COMPRAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="display: flex;">
        <div class="d-flex" *ngIf="perfilObjetivoUsuario">
          <button class="boton btn btn-sm mx-auto" (click)="obtenerNuevoPortfolioSugerido()">NUEVA SUGERENCIA DE
            CARTERA</button>
        </div>
      </div>
    </div>
  </div>
</div>