.perfil {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.card-body {
    border: 3px solid #3261A8;
    border-radius: 15px;
    box-sizing: border-box;
    justify-content: space-around; 
}

.card {
    border-radius: 15px;
}
.card-title{
    color: #3261A8;
    font-weight: bold;
}
.boton{
    background-color: #3261A8;
    color: #FFFFFF;
    border-radius: 1.5rem;
    font-weight: bold;
    width: fit-content;
}
.modal-footer{
    justify-content: center;
}
@media (max-width: 576px) {
    .modal-dialog {
      margin-top: 10%;
    }
  }