<div class="modal fade" id="sugerido" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog my-horizontal-center modal-xl">
      <h4 class="modal-title"></h4>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Portafolio sugerido</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="cerrarModal()">&times;</button>
          </div>
          <div class="modal-body">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">Close</button>
          </div>
        </div>
    </div>
  </div>