@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css);
// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: linear-gradient(to top right, #3261a8 0%, #99b6e0 100%);
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 260px;
	border-radius: 3px;
	box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.dropzone {
	// width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}

.upload-icon {
	margin: 25px 2px 2px 2px;
}

.upload-input {
	position: relative;
	top: -62px;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.btn {
	display: block;
	width: 140px;
	height: 40px;
	background: #6390cd;
	color: #fff;
	border-radius: 3px;
	border: 0;
	box-shadow: 0 3px 0 0 #99b6e0;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}

.btn:hover {
	background: #233e69;
	box-shadow: 0 3px 0 0 #3f72b8;
}

/* === Uploaded Files === */
.uploaded {
	width: 375px;
	margin: 10px;
	background-color: #e6f5e9;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
  }
  .file {
	display: flex;
	flex-direction: column;
  }
  .file__name {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 300px;
	line-height: 0;
	color: #0c3214;
	font-size: 18px;
	letter-spacing: 1.5px;
  }
  .fa-times:hover {
	cursor: pointer;
	opacity: 0.8;
  }
  .fa-file-pdf {
	padding: 15px;
	font-size: 40px;
	color: #0c3214;
  }

/************************************/
  .main-container {
	display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 2rem;
    min-height: 80vh;
  }

  .fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.dropzone {
	// width: 100px;
	height: 80px;
	border: 1px dashed #999;
	border-radius: 3px;
	text-align: center;
}
  /*********Formato de listas*************/
  .navbar-inverse {
    // background-color: #222;
	background: linear-gradient(to top right, #3261a8 0%, #99b6e0 100%);
    border-color: #080808;
	color: #DDD;
	}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-brand {

    color: #F8F8F8; 
 
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.container-descargar-template{
	display: flex;
    justify-content: center;
    button{
      width: auto;
    }
}

  body {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
  .panel-group .panel+.panel {
    margin-top: 10px;
  }
  /* \f142 is ellipsis-v */
  /* \202F is thin unbreakable space */
  
  .fa.fa-grip:before {
    content: "\f142 \202F \f142";
  }
  /*fa-grip-large : <i class="fa fa-grip-large fa-rotate-90"></i>*/
  
  .fa.fa-grip-large:before {
    content: "\f142 \202F \f142 \202F \f142 \202F \f142";
  }
  
  .panel-title .chevron:after {
    content: "\f078";
  }
  
  .panel-title .collapsed .chevron:after {
    content: "\f054";
  }
  
  .xlist.ng-enter {
    /*
  -webkit-transition: 0.4s ease-in all;
    -moz-transition: 0.4s ease-in all;
    -ms-transition: 0.4s ease-in all;
    -o-transition: 0.4s ease-in all;
  */
    transition: 0.4s ease-in all;
    opacity: 0;
  }
  
  .xlist.ng-enter.ng-enter-active {
    opacity: 1;
  }
  
  .xlist.ng-leave {
    transition: 0.4s ease-out all;
    opacity: 1;
  }
  
  .xlist.ng-leave.ng-leave-active {
    opacity: 0;
  }
  
  .drop-box {
    border: 2px dashed #DDD;
    margin: 5px;
  }
  
  .dragover {
    background: #F8F8F8;
    border: 5px dashed darkorange;
    position: relative;
  }
  
  .dragOverlay {
    display: none;
  }
  
  .dragover .dragOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    color: white;
    background: rgb(0, 0, 0);
    opacity: 0.3;
    /* all other browsers*/
    filter: alpha(opacity=30);
    /* for IE5-7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    /* for IE8*/
    z-index: 2;
  }
  
  .dragInner {
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 44%;
  }
  
  .list-group {
    margin-bottom: 0px;
  }
  /* ng-sortable css file */
  
  .as-sortable-item,
  .as-sortable-placeholder {
    display: block
  }
  
  .as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    -webkit-touch-callout: none
  }
  
  .as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab
  }
  
  .as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999
  }
  
  .as-sortable-hidden {
    display: none!important
  }
  
  .as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .as-sortable-item,
  .as-sortable-placeholder {
    min-height: 20px;
    margin: 1px 2px 5px 1px;
    border-radius: 10px
  }
  
  .as-sortable-item {
    border: solid 1px darkgrey;
    background-color: #fff
  }
  
  .as-sortable-placeholder {
    border: 1px dashed darkgrey;
    box-sizing: border-box;
    background-color: #dbdbdb
  }
  
  .as-sortable-drag {
    opacity: .8
  }

  /*************/
  .btn-danger {
    width: 5rem;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  .panel-body {
    padding: 15px;
    button{
      width: auto;
    }
}

.exit {
  margin-top: .5rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;

  p {
    color: #3261A8;
    float: left;
    cursor: pointer;
  }
}