<head>

    <meta charset="UTF-8">

    <meta name="robots" content="noindex">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon"
        href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
        color="#111">
    <link rel="canonical" href="https://codepen.io/abhijitdarji/pen/dMVoaX">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

</head>

<div class="container-fluid container main-container bg-white">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                Carga de Archivo para administrar las pregunta y sus categorias
                <!-- <a class="navbar-brand" href="/dashboard/Administrar"> Carga de Archivo para administrar las pregunta y sus categorias</a> -->
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="panel-group ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"
            data-as-sortable="vm.documentDragListeners" ng-model="vm.documents">
            <!-- Area de carga de Secciones -->
            <div class="panel panel-default xlist ng-scope as-sortable-item" ng-repeat="doc in vm.documents"
                data-as-sortable-item="">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-grip fa-rotate-90 ng-scope as-sortable-item-handle"
                            data-as-sortable-item-handle=""></i>
                        <a data-toggle="collapse" data-target="#collapse0" class="ng-binding collapsed"
                            aria-expanded="false">Secciones
                            <i class="chevron fa fa-fw"></i>
                        </a> <span class="badge ng-binding">{{selectedFileSeccion?.size?1:0}}</span>
                        <a class="close-ribbon pull-right" ng-click="vm.removeDoc($index)"><i
                                class="fa fa-times"></i></a>
                    </h4>

                </div>
                <div id="collapse0" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <button class="btn btn-primary ng-pristine ng-untouched ng-valid ng-empty"
                            ngf-select="vm.addFiles($files,doc.files)" (click)="openFileInput()" accept="*/*"
                            multiple="multiple" ng-model="vm.files" ngf-max-height="1000" ngf-max-size="5MB">
                            Seleccione su archivo</button>
                            <input type="file" #fileInput style="display: none" 
                            (change)="onFileSelectedSecciones($event)"/>

                        <br>
                        <br>
                        <div ngf-drop="vm.addFiles($files,doc.files)" class="drop-box" ngf-drag-over-class="'dragover'"
                            ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">
                            <div class="dragOverlay">

                                <div class="dragInner">
                               
                                    Drop files here.</div>
                            </div>
                            <div ngf-no-file-drop="" style="display: none;">File Drag/Drop is not supported for this
                                browser
                            </div>
                            <ul class="list-group ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"
                                data-as-sortable="vm.fileDragListeners" ng-model="doc.files">
                                <li class="list-group-item list-group-item-info">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">Sort</div>
                                        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">Name</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (MB)</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Type</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Modified on</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-show="doc.files.length === 0">
                                    <div class="dropzone">
                                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                        <input type="file" class="upload-input" accept=".xlsx, .xls"
                                            name="excelPregunta" (change)="onFileSelected($event)" />
                                    </div>
                                    Drop Images or PDFs files here.
                                </li>

                                <li *ngIf="selectedFileSeccion" ng-repeat="f in selectedFile?" class="list-group-item xlist ng-scope as-sortable-item"
                                  data-as-sortable-item="" style="">
                                  <div class="row">
                                      <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                                          <div class="row">
                                              <div class="col-xs-4 ng-scope as-sortable-item-handle"
                                                  data-as-sortable-item-handle="" style="padding-top:5px;">
                                                  <i class="fa fa-grip"></i>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-11 col-md-11 col-sm-7 col-xs-7">
                                          <div class="row">
                                              <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext ng-binding">
                                                {{ selectedFileSeccion.name }}
                                              </div>
                                              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                {{formattedSize}}</div>
                                              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                {{formattedType}}
                                                </div>
                                              <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                {{selectedFileSeccion.lastModified | date: 'short'}}</div>
                                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                  <button type="button" class="btn btn-xs btn-danger"
                                                      ng-click="vm.removeFile(doc.files,$index)"
                                                      (click)="RemoveFile('Secciones')"
                                                      >
                                                      <span><i class="fa fa-trash"></i></span>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </li>
                                <ngb-progressbar [value]="uploadProgressSecciones" [striped]="true" [max]="100" [type]="typeProgressSecciones">{{errorTipo}}</ngb-progressbar>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="uploadFileSecciones()">Subir mi archivo</button>
                </div>
            </div>
 
            <!-- Area de carga de Categorias -->
            <div class="panel panel-default xlist ng-scope as-sortable-item" ng-repeat="doc in vm.documents"
                data-as-sortable-item="" style="">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-grip fa-rotate-90 ng-scope as-sortable-item-handle"
                            data-as-sortable-item-handle=""></i>
                        <a data-toggle="collapse" data-target="#collapse1" class="ng-binding collapsed"
                            aria-expanded="false">Categorias<i class="chevron fa fa-fw"></i></a> <span
                            class="badge ng-binding">{{selectedFileCategoria?.size?1:0}}</span>
                        <a class="close-ribbon pull-right" ng-click="vm.removeDoc($index)"><i
                                class="fa fa-times"></i></a>
                    </h4>

                </div>
                <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                            <button class="btn btn-primary ng-pristine ng-untouched ng-valid ng-empty"
                            ngf-select="vm.addFiles($files,doc.files)" (click)="openFileInput()" accept="*/*"
                            multiple="multiple" ng-model="vm.files" ngf-max-height="1000" ngf-max-size="5MB">
                            Seleccione su archivo</button>
                            <input type="file" #fileInput style="display: none" 
                            (change)="onFileSelectedCategorias($event)"/>
                        <br>
                        <br>
                        <div ngf-drop="vm.addFiles($files,doc.files)" class="drop-box" ngf-drag-over-class="'dragover'"
                            ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">
                            <div class="dragOverlay">
                               
                                <div class="dragInner">Drop files here.</div>
                            </div>
                            <div ngf-no-file-drop="" style="display: none;">File Drag/Drop is not supported for this
                                browser</div>
                            <ul class="list-group ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"
                                data-as-sortable="vm.fileDragListeners" ng-model="doc.files">
                                <li class="list-group-item list-group-item-info">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">Sort</div>
                                        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">Name</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (MB)</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Type</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Modified on</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-show="doc.files.length === 0">
                                    <div class="dropzone">
                                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                        <input type="file" class="upload-input" accept=".xlsx, .xls"
                                            name="excelPregunta" (change)="onFileSelected($event)" />
                                    </div>

                                    Drop Images or PDFs files here.
                                </li>
                                <!-- ngRepeat: f in doc.files -->
                                <li *ngIf="selectedFileCategoria" ng-repeat="f in selectedFile?" class="list-group-item xlist ng-scope as-sortable-item"
                                data-as-sortable-item="" style="">
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                                        <div class="row">
                                            <div class="col-xs-4 ng-scope as-sortable-item-handle"
                                                data-as-sortable-item-handle="" style="padding-top:5px;">
                                                <i class="fa fa-grip"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-11 col-md-11 col-sm-7 col-xs-7">
                                        <div class="row">
                                            <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext ng-binding">
                                              {{ selectedFileCategoria.name }}
                                            </div>
                                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                {{formattedSize}}</div>
                                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                              {{formattedType}}
                                              </div>
                                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                              {{selectedFileCategoria.lastModified | date: 'short'}}</div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                <button type="button" class="btn btn-xs btn-danger"
                                                    ng-click="vm.removeFile(doc.files,$index)"
                                                    (click)="RemoveFile('Categorias')">
                                                    <span><i class="fa fa-trash"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </li>
                              <ngb-progressbar [value]="uploadProgressCategorias" [striped]="true" [max]="100" [type]="typeProgressCategorias">{{errorTipo}}</ngb-progressbar>
                                <!-- ngRepeat: f in doc.files -->
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="uploadFileCategorias()">Subir mi archivo</button>
                </div>
            </div>
     
            <!-- Area de carga de Preguntas -->
            <div class="panel panel-default xlist ng-scope as-sortable-item" ng-repeat="doc in vm.documents"
                data-as-sortable-item="" style="">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-grip fa-rotate-90 ng-scope as-sortable-item-handle"
                            data-as-sortable-item-handle=""></i>
                        <a data-toggle="collapse" data-target="#collapse2" class="ng-binding collapsed"
                            aria-expanded="false">Preguntas<i class="chevron fa fa-fw"></i></a> <span
                            class="badge ng-binding">{{selectedFilePregunta?.size?1:0}}</span>
                        <a class="close-ribbon pull-right" ng-click="vm.removeDoc($index)"><i
                                class="fa fa-times"></i></a>
                    </h4>

                </div>
                <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">

                            <button class="btn btn-primary ng-pristine ng-untouched ng-valid ng-empty"
                            ngf-select="vm.addFiles($files,doc.files)" (click)="openFileInput()" accept="*/*"
                            multiple="multiple" ng-model="vm.files" ngf-max-height="1000" ngf-max-size="5MB">
                            Seleccione su archivo</button>
                            <input type="file" #fileInput style="display: none" 
                            (change)="onFileSelectedPreguntas($event)"/>
                        <br>
                        <br>
                        <div ngf-drop="vm.addFiles($files,doc.files)" class="drop-box" ngf-drag-over-class="'dragover'"
                            ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">
                            <div class="dragOverlay">
                                <div class="dragInner">Drop files here.</div>
                            </div>
                            <div ngf-no-file-drop="" style="display: none;">File Drag/Drop is not supported for this
                                browser</div>
                            <ul class="list-group ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"
                                data-as-sortable="vm.fileDragListeners" ng-model="doc.files">
                                <li class="list-group-item list-group-item-info">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">Sort</div>
                                        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">Name</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (MB)</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Type</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Modified on</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-show="doc.files.length === 0">
                                    <div class="dropzone">
                                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                        <input type="file" class="upload-input" accept=".xlsx, .xls"
                                            name="excelPregunta" (change)="onFileSelected($event)" />
                                    </div>
                                    Drop Images or PDFs files here.
                                </li>
                                 <!-- ngRepeat: f in doc.files -->
                                 <li *ngIf="selectedFilePregunta" ng-repeat="f in selectedFile?" class="list-group-item xlist ng-scope as-sortable-item"
                                 data-as-sortable-item="" style="">
                                 <div class="row">
                                     <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                                         <div class="row">
                                             <div class="col-xs-4 ng-scope as-sortable-item-handle"
                                                 data-as-sortable-item-handle="" style="padding-top:5px;">
                                                 <i class="fa fa-grip"></i>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-lg-11 col-md-11 col-sm-7 col-xs-7">
                                         <div class="row">
                                             <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext ng-binding">
                                               {{ selectedFilePregunta.name }}
                                             </div>
                                             <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                 {{formattedSize}}</div>
                                             <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                {{formattedType}}
                                               </div>
                                             <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                               {{selectedFilePregunta.lastModified | date: 'short'}}</div>
                                             <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                 <button type="button" class="btn btn-xs btn-danger"
                                                     ng-click="vm.removeFile(doc.files,$index)"
                                                     (click)="RemoveFile('Preguntas')"
                                                     >
                                                     <span><i class="fa fa-trash"></i></span>
                                                 </button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                               </li>
                                <!-- ngRepeat: f in doc.files -->
                                <ngb-progressbar [value]="uploadProgressPreguntas" [striped]="true" [max]="100" [type]="typeProgressPreguntas">{{errorTipo}}</ngb-progressbar>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="uploadFilePreguntas()">Subir mi archivo</button>
                </div>
            </div>
    
              <!-- Area de carga de Respuestas -->
            <div class="panel panel-default xlist ng-scope as-sortable-item" ng-repeat="doc in vm.documents"
                data-as-sortable-item="" style="">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <i class="fa fa-grip fa-rotate-90 ng-scope as-sortable-item-handle"
                            data-as-sortable-item-handle=""></i>
                        <a data-toggle="collapse" data-target="#collapse3" class="ng-binding collapsed"
                            aria-expanded="false">Respuestas<i class="chevron fa fa-fw"></i></a> <span
                            class="badge ng-binding">{{selectedFileRespuesta?.size?1:0}}</span>
                        <a class="close-ribbon pull-right" ng-click="vm.removeDoc($index)"><i
                                class="fa fa-times"></i></a>
                    </h4>

                </div>
                <div id="collapse3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                      
                            <button class="btn btn-primary ng-pristine ng-untouched ng-valid ng-empty"
                            ngf-select="vm.addFiles($files,doc.files)" (click)="openFileInput()" accept="*/*"
                            multiple="multiple" ng-model="vm.files" ngf-max-height="1000" ngf-max-size="5MB">
                            Seleccione su archivo</button>
                            <input type="file" #fileInput style="display: none" 
                            (change)="onFileSelectedRespuestas($event)"/>

                        <br>
                        <br>
                        <div ngf-drop="vm.addFiles($files,doc.files)" class="drop-box" ngf-drag-over-class="'dragover'"
                            ngf-multiple="true" ngf-pattern="'image/*,application/pdf'">
                            <div class="dragOverlay">
                                <div class="dragInner">Drop files here.</div>
                            </div>
                            <div ngf-no-file-drop="" style="display: none;">File Drag/Drop is not supported for this
                                browser
                            </div>
                            <ul class="list-group ng-pristine ng-untouched ng-valid ng-scope ng-not-empty"
                                data-as-sortable="vm.fileDragListeners" ng-model="doc.files">
                                <li class="list-group-item list-group-item-info">
                                    <div class="row">
                                        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">Sort</div>
                                        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">Name</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Size (MB)</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Type</div>
                                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">Modified on</div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                                    </div>
                                </li>
                                <li class="list-group-item" ng-show="doc.files.length === 0">
                                    <div class="dropzone">
                                        <img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
                                        <input type="file" class="upload-input" accept=".xlsx, .xls"
                                            name="excelPregunta" (change)="onFileSelected($event)" />
                                    </div>
                                    Drop Images or PDFs files here.
                                </li>
                                 <!-- ngRepeat: f in doc.files -->
                                 <li *ngIf="selectedFileRespuesta" ng-repeat="f in selectedFile?" class="list-group-item xlist ng-scope as-sortable-item"
                                 data-as-sortable-item="" style="">
                                 <div class="row">
                                     <div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
                                         <div class="row">
                                             <div class="col-xs-4 ng-scope as-sortable-item-handle"
                                                 data-as-sortable-item-handle="" style="padding-top:5px;">
                                                 <i class="fa fa-grip"></i>
                                             </div>
                                         </div>
                                     </div>
                                     <div class="col-lg-11 col-md-11 col-sm-7 col-xs-7">
                                         <div class="row">
                                             <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext ng-binding">
                                               {{ selectedFileRespuesta.name }}
                                             </div>
                                             <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                 {{formattedSize}}</div>
                                             <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                                {{formattedType}}
                                               </div>
                                             <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ng-binding">
                                               {{selectedFileRespuesta.lastModified | date: 'short'}}</div>
                                             <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                                 <button type="button" class="btn btn-xs btn-danger"
                                                     ng-click="vm.removeFile(doc.files,$index)"
                                                     (click)="RemoveFile('Respuestas')"
                                                >
                                                     <span><i class="fa fa-trash"></i></span>
                                                 </button>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                               </li>

                               <ngb-progressbar [value]="uploadProgressRespuestas" [striped]="true" [max]="100"  [type]="typeProgressRespuesta" >{{errorTipo}}</ngb-progressbar>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-primary" (click)="uploadFileRespuestas()">Subir mi archivo</button>
                </div>
            </div>

        </div>

    </div>

    <!-- /***************Descarga de Archivo .xlsx************************/ -->
    <div class="container-descargar-template">
        <button class="btn btn-primary" (click)="downloadExcelTemplate()">Descargar Plantilla Excel</button>
    </div>

    <div class="exit">
        <p (click)="loadAdministracion()">Administracion</p>
    </div>
</div>
<!-- /****************************************************************/ -->
