<section class="login">
    <div class="lateral-brand">
        <img src="/assets/image/logo.svg" alt="">
        <h3><span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
        <p>Bienvenido a la plataforma <br>donde aprenderas sobre el mercado.</p>
    </div>
    <div class="login-content">
        <!-- <form #registroForm="ngForm" (ngSubmit)="registrarUsuario()"> -->
        <div *ngIf="!registro" class="fields-box">
            <div class="brand">
                <div class="logo">
                    <img src="/assets/image/logo.svg" alt="">
                </div>
                <p>Bienvenido a la plataforma donde aprenderás sobre el mercado.</p>
            </div>
            <h3>Registrese en <span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
            <input type="text" [(ngModel)]="usuarioForm.email" name="email" id="email" placeholder="Email">

            <input type="password" [(ngModel)]="usuarioForm.password" name="password" id="password"
                placeholder="Contraseña">

            <input type="text" [(ngModel)]="usuarioForm.username" name="username" id="username"
                placeholder="Nombre de usuario" required>

            <input type="text" [(ngModel)]="usuarioForm.name" name="name" id="name" placeholder="Nombre" required>

            <input type="text" [(ngModel)]="usuarioForm.lastname" name="lastname" id="lastname" placeholder="Apellido"
                required>

            <label *ngIf="errorReg" for="{{errorReg}}" class="error-message">
                Error durante el registro... Verifique los datos
            </label>

            <!-- <label *ngIf="registroForm.submitted && registroForm.invalid" for="registroForm" class="error-message">
                Error durante el registro... Verifique los datos.
            </label> -->
            <!--             
            <button type="submit" class="btn-gral">Registrarme</button> -->

            <div class="btn-gral" (click)="registrarUsuario()">registrarme</div>

        </div>
        <div *ngIf="registro" class="fields-box">
            <div class="brand">
                <div class="logo">
                    <img src="/assets/image/logo.svg" alt="">
                </div>
                <p>Bienvenido a la plataforma donde aprenderás sobre el mercado.</p>
            </div>
            <h3>Ingrese Token <span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
            <input type="text" [(ngModel)]="usuarioForm.email" name="email" id="email" placeholder="Email">

            <label *ngIf="errorReg" for="{{errorReg}}" class="error-message">
                Error durante el registro... Verifique los datos
            </label>

            <div class="btn-gral" (click)="registrarToken()">registrarme</div>

        </div>
        <!-- </form> -->
    </div>
</section>