<div class="modal fade" [attr.id]="'myModal'" role="dialog" tabindex="-1" backdrop="static" keyboard="false">
  <div class="modal-dialog modal-dialog-centered my-horizontal-center modal-xl">
    <h4 class="modal-title"></h4>
    <div class="modal-content" *ngIf="detalleInstrumento">
      <div class="modal-header">
        <h4 class="modal-title">{{detalleInstrumento.descripcion}} ({{detalleInstrumento.simbolo}})</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="cerrarModal()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-row flex-wrap">
          <div class="small-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title small-text">Último precio</h6>
                <p class="card-text fw-bolder small-text">${{detalleInstrumento.ultimoPrecio}}</p>
              </div>
            </div>
          </div>
          <div class="small-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title small-text">Variación diaría</h6>
                <message class="card-text small-text" [textMessage]="textMessage" [typeMessage]="typeMessage"></message>
              </div>
            </div>
          </div>
          <div class="small-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title small-text">Puntas de compra</h6>
                <p class="card-text small-text">{{detalleInstrumento.puntas.cantidadCompra}} x ${{detalleInstrumento.puntas.precioCompra}}</p>
              </div>
            </div>
          </div>
          <div class="small-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title small-text">Puntas de venta</h6>
                <p class="card-text small-text">{{detalleInstrumento.puntas.cantidadVenta}} x ${{detalleInstrumento.puntas.precioVenta}}</p>
              </div>
            </div>
          </div>
          <div class="small-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title small-text">Cantidad de operaciones</h6>
                <p class="card-text small-text">{{detalleInstrumento.cantidadOperaciones}}</p>
              </div>
            </div>
          </div>
          <div class="small-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title small-text">Rango de precios</h6>
                <p class="card-text small-text">Max: ${{detalleInstrumento.maximo}} - Min: ${{detalleInstrumento.minimo}}</p>
              </div>
            </div>
          </div>
        </div>

        <app-grafico-velas class="grafico-velas" *ngIf="datosGraficoVelas && datosGraficoVelas.length >0; else loading" [solapaDetalleInstrumento]="solapaDetalleInstrumento"></app-grafico-velas>
        <ng-template #loading>
          <div class="container-loading filas d-flex justify-content-center align-items-center flex-column">
            <div class="spinner-border loading-spiner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <h3>Cargando gráfico</h3>
          </div>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">Close</button>
      </div>
    </div>
  </div>
</div>
