.container{
    width: 100%;
    height: 100%;
    border: double;
    display:flex;
    justify-content: space-around;
}
.total-valorizado-section,.cartera-grafico-section {
    width: 40%;
    height: 40%;
    background-color: #FFF;
    border-radius: 1rem;
    box-shadow: 4px 2px 8px #e8e8ef;
    background-color: aquamarine;
}
