<div class="container main-container bg-white">
    <div class="brand-box pt-2">
        <h2>MercadoJr</h2>
        <img src="/assets/image/logo.svg" alt="">
    </div>
    <div class="container-perfil p-4">

        <div *ngFor="let pregunta of cuestionario.preguntas">
            <!-- Verifica el tipo de pregunta -->

            <!-- Pregunta de tipo checkbox -->
            <ng-container *ngIf="pregunta.TipoComponente=== 'checkbox'">
                <div class="container-perfil-Questions p-2">
                    <p>{{ pregunta.descripcion }}</p>
                </div>
                <p> Podés elegir más de una opción o ninguna</p>
                <div *ngIf="isArray(pregunta.respuestas)">
                    <div *ngFor="let respuesta of pregunta.respuestas">
                        <input type="checkbox" 
                        id="{{ respuesta.nombre }}" 
                        name="{{ respuesta.nombre}}"
                        
                        [(ngModel)]="respuesta.valor"
                        (change)="actualizarOpcionesSeleccionadas(pregunta.seccion.nombre,respuesta.nombre,respuesta.valor)"                        >

                        <label for="{{ respuesta }}">{{ respuesta.nombre }}</label>
                    </div>
                </div>
                <!-- <div *ngIf="!isArray(pregunta.respuestas)">
                    <div *ngFor="let respuesta of pregunta.respuestas as respuestas">
                        <input type="checkbox" id="{{ respuesta.name }}" name="{{ respuesta.name }}">
                        <label for="{{ respuesta }}">{{ respuesta.name }}</label>
                    </div>
                </div> -->
 
            </ng-container>

            <!-- Pregunta de tipo radio -->
            <ng-container *ngIf="pregunta.TipoComponente === 'radio'">
                <div class="container-perfil-Questions p-2">
                    <p>{{ pregunta.descripcion }}</p>
                </div>
                <p> elegir Solo una opción"</p>
                <div *ngIf="isArray(pregunta.respuestas)">
                    <div *ngFor="let respuesta of pregunta.respuestas ">
                        <input type="radio" id="{{ respuesta.nombre }}" name="respuestaRadio" value="{{ respuesta.nombre }}">
                        <label for="{{ respuesta }}">{{ respuesta.nombre }}</label>
                    </div>
                </div>
            
            </ng-container>

            <!-- Pregunta de tipo botones-unica-opcion -->
            <!-- <ng-container *ngIf="pregunta.TipoComponente === 'boton'" style="text-align: center;">
                <div class="container-perfil-Questions p-2">
                    <p>{{ pregunta.descripcion }}</p>
                </div>
                <p> Elije el nivel de conocimiento por cada instrumento</p>
                <div *ngIf="isArraybnt(pregunta.respuestas)">
                    <div *ngFor="let respuesta of pregunta.respuestas" >
                         <div *ngIf="isArraybnt(respuesta.respuesta)">
                            <p>{{respuesta.instrumento }}</p>
                            <div class="row">
                            <div *ngFor="let opcion of respuesta.respuestas" class="col-auto"  >

                                <input type="button" id="{{ opcion }}" name="{{ opcion.instrumento }}"
                                    value="{{ opcion }}" >
                               
                            </div>
                            </div>
                           
                        </div> 
                    </div>
                </div>

            </ng-container> -->
         
         
             <ng-container *ngIf="pregunta.TipoComponente === 'boton'" style="text-align: center;">
                <div class="container-perfil-Questions p-2">
                    <p>{{ pregunta.descripcion }}</p>
                </div>
                <p> Elije el nivel de conocimiento por cada instrumento</p>
                <div *ngIf="isArraybnt(pregunta.respuestas)">
                    <div *ngFor="let respuesta of pregunta.respuestas" >
                         <!-- <div *ngIf="isArraybnt(respuesta.instrumento)"> -->
                            <p>{{respuesta.instrumento }}</p>
                             <div class="row">
                            <div *ngFor="let opcion of respuesta.respuestas" class="col-auto"  >

                                <input type="button" id="{{ opcion }}" name="{{ opcion.nombre }}"
                                    value="{{ opcion.nombre }}" >
                               
                            </div>
                            </div> 
                           
                        <!-- </div>  -->
                    </div>
                </div>

            </ng-container> 

            <!-- Botón Siguiente Pregunta aquí -->
           
            <div class="justify-content-md-end" style="text-align: center;">
                <button class="btn btn-primary btn btn-primary me-md-2" *ngIf="!isLastQuestion"
                    (click)="loadNextQuestion()">{{ buttonText }}</button>
                <!-- <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p> -->
            </div>

            <div *ngIf="isLastQuestion" style="text-align: center;">
                <button class="btn btn-primary btn btn-primary me-md-2"
                (click)="loadHome()">{{ buttonText }}</button>
                <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p>
            </div>
        </div>

    </div>


</div>