#myModal{
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal-dialog { 
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.my-horizontal-center {
    margin: 0 auto;
    display: table;
}