<div class="container-fluid container main-container bg-white">
    <div class="row brand-box pt-2">
        <div class="col-sm-12 d-flex">
            <h2><span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h2>
            <img src="/assets/image/logo.svg" alt="">
        </div>
    </div>
    <h2> Ahora un pequeño desafío para ayudarnos a definir tu perfil</h2>
    <div class="row container-perfil p-4 mx-2">
        <div class="col-sm-12">
            <h3>
                Te vamos a realizar unas preguntas que nos permitirán definir tu perfil con mas precisión. Si no sabes
                la respuesta a lo que se te plantea solo selecciona la opción “NS/NR” que hace referencia a no sabe/no
                responde.
                Con cada pregunta bien contestada contarás con la suma de saldo para luego poder consumirlas como dinero
                ficticio en nuestra plataforma.
                Si no deseas realizar el test, no hay ningun problema podes omitirlo sin problemas. Tené en cuenta sino
                que si no lo completas no contarás con el perfil sugerido por nuestros expertos, como así tambien
                portfolios sugeridos a partir de la definición final que nos brinda éste apartado.


            </h3>
        </div>
        <div class="mt-3 row d-block">
            <img class="mx-auto col-md-6 img-fluid" src="/assets/image/persona inversor.png">
            <img class="mx-auto col-md-6 img-fluid" src="\assets\image\checklist-clipboard-multiple-choice 1.png">
        </div>

    </div>
    <div>
        <button class="bnt btn-Iniciar btn-primary " (click)="loadStages()">Iniciar Test</button>
    </div>

</div>