<div class="container-fluid container main-container bg-white">
    <div class="row brand-box pt-2">
        <div class="col-sm-12 d-flex">
            <h2>MercadoJr</h2>
            <img src="/assets/image/logo.svg" alt="">
        </div>
    </div>
    <h2> Ahora un pequeño desafío para ayudarnos a definir tu perfil</h2>
    <div class="row container-perfil p-4 mx-2">
        <div class="col-sm-12">
            <h3>
                Te invitamos a realizar un test de conocimiento financiero para poder determinar un perfil de inversor mas especifico y poder hacerte mejores recomendaciones de portafolio o productos que te puedan interesar.
            </h3>
        </div>
        <div class="mt-3 row d-block">
            <img class="mx-auto col-md-6 img-fluid" src="/assets/image/persona inversor.png">
            <img class="mx-auto col-md-6 img-fluid" src="\assets\image\checklist-clipboard-multiple-choice 1.png">
        </div>

    </div>
    <div>
        <button class="bnt btn-Iniciar btn-primary " (click)="loadStages()">Iniciar Test</button>
    </div>

</div>