<section class="login">
    <div class="lateral-brand">
        <img src="/assets/image/logo.svg" alt="">
        <!-- <h1>MercadoJR</h1> -->
        <h3><span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
        <p>Bienvenido a la plataforma <br>donde aprenderas sobre el mercado.</p>
    </div>
    <div class="login-content">
        <div class="fields-box">
            <!-- <h3>Ingresar a MercadoJR</h3> -->
            <h3>Ingresar a <span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
            <!-- [(ngModel)]="user.email" -->
            <input type="text" name="" id="email" placeholder="Email" >
            <!-- [(ngModel)]="user.password" -->
            <input type="password" name="" id="password" placeholder="Contraseña" >
            <!-- <p class="error" *ngIf="messageError">{{messageError}}</p> -->
            <!-- (click)="login()" -->
            <div class="btn-gral" routerLink='/perfil' >Iniciar Sesión</div>
        </div>
    </div>
</section>
