<section class="login">
    <div class="lateral-brand">
        <img src="/assets/image/logo.svg" alt="">
        <h3><span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
        <p>Bienvenido a la plataforma <br>donde aprenderas sobre el mercado.</p>
    </div>
    <div class="login-content">

        <div class="fields-box">
            <div class="brand">
                <div class="logo">
                    <img src="/assets/image/logo.svg" alt="">
                </div>
                <p>Bienvenido a la plataforma donde aprenderás sobre el mercado.</p>
            </div>
            <!-- <h3>Ingresar a MercadoJR</h3> -->
            <h3>Ingresar a <span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h3>
            <!-- [(ngModel)]="user.email" -->
            <input type="text" name="" id="email" placeholder="Email">
            <!-- [(ngModel)]="user.password" -->
            <input type="password" name="" id="password" placeholder="Contraseña">
            <!-- <p class="error" *ngIf="messageError">{{messageError}}</p> -->
            <!-- (click)="login()" -->
            <div class="btn-gral" routerLink='/perfil'>Iniciar sesión</div>
        </div>
    </div>
</section>
