<div class="container-fluid">
  <div class="row text-center table-price">
    <div class="text-start">
      <h3>Panel de Acciones</h3>

    </div>
    <div class="col-sm-12">
      <div class="row" style="background-color: #ECEEFB; font-weight: bold;">
        <div class="col">Simbolo</div>
        <div class="col">Último Operado</div>
        <div class="col d-none d-xl-block">Variación Diaria</div>
        <div class="col d-none d-xl-block">Cantidad Compra</div>
        <div class="col d-none d-xl-block">Precio Compra</div>
        <div class="col d-none d-xl-block">Precio Venta</div>
        <div class="col d-none d-xl-block">Cantidad Venta</div>
        <div class="col d-none d-xl-block">Apertura</div>
        <div class="col d-none d-xl-block">Minimo</div>
        <div class="col d-none d-xl-block">Máximo</div>
        <div class="col">Último Cierre</div>
        <div class="col">Monto Operado</div>
      </div>
      <div class="row filas" *ngIf="titulos.length > 1; else loading">
        <div *ngFor="let titulo of titulos; index as i;">
          <div class="fila-instrumento" (click)="seleccionarInstrumento(''+titulo.simbolo+'')">
            <div class="row" [ngClass]="i % 2 ? 'filasClaras' : 'filasOscuras'">
              <div class="col overflow-hidden text-start">
                <strong>
                  {{titulo.simbolo}}
                </strong>
              </div>
              <div class="col overflow-hidden">{{titulo.ultimoPrecio || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block">
                <i *ngIf="titulo && titulo.variacionPorcentual && titulo.variacionPorcentual > 0"
                  class="fa-solid fa-caret-up text-success"></i>
                <i *ngIf="titulo && titulo.variacionPorcentual && titulo.variacionPorcentual < 0"
                  class="fa-solid fa-caret-down text-danger"></i>
                {{titulo.variacionPorcentual || '-'}} %
              </div>
              <div class="col overflow-hidden d-none d-xl-block bg-success-subtle">{{titulo.puntas?.cantidadCompra || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block bg-success-subtle">{{titulo.puntas?.precioCompra || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block bg-danger-subtle">{{titulo.puntas?.precioVenta || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block bg-danger-subtle">{{titulo.puntas?.cantidadVenta || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block">{{titulo.apertura || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block">{{titulo.minimo || '-'}}</div>
              <div class="col overflow-hidden d-none d-xl-block">{{titulo.maximo || '-'}}</div>
              <div class="col overflow-hidden">{{titulo.ultimoCierre || '-'}}</div>
              <div class="col overflow-hidden">{{titulo.ultimoPrecio || '-'}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row float-end" *ngIf="lastUpdatePanel">Ultima actualización: {{lastUpdatePanel}}</div>

      <ng-template #loading>
        <div class="container-loading filas d-flex justify-content-center align-items-center flex-column">
          <div class="spinner-border loading-spiner" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <h3>Cargando panel de precios ...</h3>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row mt-5" style="height: 30vh;">
    <div class="container-fluid ">
      <div class="text-start">
        <h3>Capturar orden</h3>
        <div class="col d-flex justify-content-around" style="font-weight: 700; font-size: 18px;">
          <message [textMessage]="textMessage" [typeMessage]="typeMessage"></message>
        </div>
      </div>
      <div class="row d-flex align-content-between mb-3 inputs-orden">
        <div class="col-md-12">
          <label for="simbolos" class="form-label">
            Especie
          </label>
          <select class="form-control" id="simbolos" name='simbolo' [(ngModel)]="simbolo">
            <option *ngIf="simboloByCartera ===''" value="" disabled selected>Seleccione un instrumento acá</option>
            <option *ngFor="let simbolo of titulosSimbolo" value="{{simbolo}}"
              [selected]="simboloByCartera === simbolo">{{simbolo}}</option>
          </select>
        </div>

        <div class="col-md-12">
          <label for="simbolos" class="form-label">
            Cantidad
          </label>
          <input placeholder="Ingrese cantidad aca" name='cantidad' [(ngModel)]="cantidad" type="number"
            class="form-control" id="cantidad">
        </div>
      </div>

      <div class="row mb-3">
        <div class="col d-flex justify-content-around">
          <button type="button" class="boton btn btn-lg" (click)="vender()">VENDER</button>
          <button type="button" class="boton btn btn-lg" (click)="comprar()">COMPRAR</button>
        </div>
      </div>



    </div>



  </div>
</div>