<div class="container main-container ">
    <div class="row brand-box pt-2">
        <div class="col-sm-12 d-flex">
            <h2><span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h2>
            <img src="/assets/image/logo.svg" alt="" >
        </div>
    </div>
    <div class="container-perfil p-4">

     
        <div *ngIf="!isLastQuestion">
            <div class="container-perfil-Quest-descr-opt" *ngFor="let pregunta of preguntas">
                <div class="container-perfil-Questions ">
                    <p>{{ pregunta.enunciado }}</p>
                </div>

                <div class="container-perfil-Descripcion">  
                    <!-- <p class="alinea-descripcion-pregunta-radius">Elegir solo una opción</p> -->
                    <ng-container *ngIf="pregunta.tipoComponente =='TEXTO'; else imgContenido">

                            <!-- <div *ngIf="isArray(pregunta.respuestas)" class="alinea-pregunta-radius"> -->
                                <div class="row contenedor-opciones">  
                                <div class="alineacion-radios alineacion-botones-opciones-radius"   *ngFor="let opcion of pregunta.respuestas " >
                                      <!-- <label for="{{ respuesta.nombre}}">{{ respuesta.nombre }}</label> -->
                                      <input class="col-auto" type="radio" id="{{ opcion.nombre }}" name="{{opcion.nombre}}"
                                        value="{{opcion.valor}}" [(ngModel)]="opcionSeleccionada"
                                        (change)="actualizarOpcionesSeleccionadas(opcion.nombre,opcion.valor)">
                                     <label class="col-auto enunciado-radio" for="{{ opcion.nombre}}">{{ opcion.nombre }}</label>
                                </div>
                            </div>
                        <!-- </div> -->
                    </ng-container>

                    <ng-template #imgContenido>
                        <img [src]="pregunta.descripcion" alt="Imagen" class="img-fluid">
                    </ng-template>
                </div>

            </div>
        </div>

        <!-- Botón Siguiente Pregunta aquí -->
        <div class="justify-content-md-end mt-5" style="text-align: center;">
            <button class="btn btn-primary btn btn-primary me-md-2 btn-Iniciar botonera-lg" *ngIf="!isLastQuestion"
                (click)="loadNextQuestion()">{{ buttonText }}</button>
            <!-- <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p> -->
        </div>

        <!-- Area Resultados de Perfilamiento Onjetivos -->
        <div *ngIf="isLastQuestion " style="text-align: center;">

            <h3> Perfil final asociado: {{ResultadoPerfilObjetivo}}</h3>
            <!-- <p>El inversor {{ResultadoPerfilObjetivo}}no busca con su cartera de inversión conseguir ingresos corrientes pero si requiere
                un modesto aumento en el valor de sus inversiones.
                El inversor tolera algunas volatilidad pero busca afrontar un menor riesgo que el inversor agresivo.
            </p> -->
            <button class="btn btn-primary btn btn-primary me-md-2 btn-Iniciar botonera-lg" (click)="loadSugerencias()"
                *ngIf="!issugerencia ">{{ buttonText }}</button>
            <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas! Ya podes ver tu credito de premio en tu cartera</p>
        </div>
        
        <!-- Area  Sugerencia de Resultados de Perfilamiento Onjetivos -->
        <div *ngIf="isLastQuestion && issugerencia" class="contenedor-sugerencias" >

            <h3> Portfolio sugerido acorde a tú perfil</h3>
            <img src="\assets\image\GraficoTorta.png" alt="">
            <button class="btn btn-primary btn btn-primary me-md-2" (click)="loadHome()">Finalizar</button>
            <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p>
        </div>

    </div>

</div>
