<p>stage-two works!</p>
<div class="container main-container bg-white">
    <div class="row brand-box pt-2">
        <div class="col-sm-12 d-flex">
            <h2><span class="bold-text-Marca">Mercado</span><span class="bold-Marca">JR</span></h2>
            <img src="/assets/image/logo.svg" alt="">
        </div>
    </div>
    <div class="container-perfil p-4">

        <!-- Botón Siguiente Pregunta aquí -->
        <div *ngIf="!isLastQuestion">
            <div class="container-perfil-Quest-descr-opt" *ngFor="let pregunta of preguntas">
                <div class="container-perfil-Questions ">
                    <h4 >{{ pregunta.pregunta }}</h4>
                </div>
              
                <div class="container-perfil-Descripcion">
                    <ng-container *ngIf="pregunta.tipoContenido =='texto'; else imgContenido">
                        <ul>
                            <li *ngFor="let linea of descripcionFormateada">{{ linea }}</li>
                        </ul>
                    </ng-container>
                    <ng-template #imgContenido>
                      <img [src]="pregunta.descripcion" alt="Imagen" class="img-fluid">
                    </ng-template>
                </div>

                <!-- Renderizar opciones aquí -->
                <div class="row centrar-opciones">
                    <div *ngFor="let opcion of pregunta.opciones" class="col-auto">
                        <input class="botonera-lg-opciones" type="button" id="{{ opcion }}" name="{{opcion.texto}}"
                            value="{{opcion.texto}}">
                        <!-- <label for="{{ opcion }}">{{ opcion }}</label> -->
                    </div>
                </div>

            </div>
        </div>

        <div class="justify-content-md-end" style="text-align: center;">
            <button class="btn btn-primary btn btn-primary me-md-2" *ngIf="!isLastQuestion"
                (click)="loadNextQuestion()">{{ buttonText }}</button>
            <!-- <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p> -->
        </div>

        <div *ngIf="isLastQuestion " style="text-align: center;">

            <h3> Perfil final asociado: Moderado Jr</h3>
            <p>El inversor moderado no busca con su cartera de inversión conseguir ingresos corrientes pero si requiere
                un modesto(Potencial) aumento en el valor de sus inversiones.
                El inversor tolera algunas volatilidad pero busca afrontar un menor riesgo que el inversos agresivo.
            </p>
            <button class="btn btn-primary btn btn-primary me-md-2" (click)="loadSugerencias()"
                *ngIf="!issugerencia ">{{ buttonText }}</button>
            <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p>
        </div>

        <div *ngIf="isLastQuestion && issugerencia" style="text-align: center;">

            <h3> Portfolio suferido acorde a tu perfil</h3>
            <img src="\assets\image\Group inversiones recomendadas.png" alt="">
            <button class="btn btn-primary btn btn-primary me-md-2" (click)="loadHome()">{{ buttonText }}</button>
            <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p>
        </div>

<div class="container-perfil p-4">

        <div *ngIf="!isLastQuestion">
            <div *ngFor="let pregunta of cuestionario.preguntas">
                <!-- Verifica el tipo de pregunta -->

                <!-- Pregunta de tipo radio -->
                <ng-container *ngIf="pregunta.TipoComponente === 'RADIO'">
                    <div class="container-perfil-Questions p-2 pb-0">
                        <p>{{ pregunta.descripcion }}</p>
                    </div>
                    <p class="alinea-descripcion-pregunta-radius">Elegir solo una opción</p>
                    <div *ngIf="pregunta" class="alinea-pregunta-radius">
                        <div *ngFor="let respuesta of pregunta.respuestas " class="alineacion-botones-opciones-radius" >
                              <!-- <label for="{{ respuesta.nombre}}">{{ respuesta.nombre }}</label> -->
                              <input type="radio" id="{{ respuesta.nombre }}" name="{{respuesta.nombre}}"
                                value="{{respuesta.valor}}" [(ngModel)]="opcionSeleccionada"
                                (change)="actualizarOpcionesSeleccionadas(pregunta.seccion.nombre,respuesta.nombre,respuesta.valor)">
                             <label for="{{ respuesta.nombre}}">{{ respuesta.nombre }}</label>
                        </div>
                    </div>
                </ng-container>


                <!-- Botón Siguiente Pregunta aquí -->

                <div class="justify-content-md-end container-botonera-lg " >
                    <button class="btn btn-primary btn btn-primary me-md-2 botonera-lg" *ngIf="!isLastQuestion"
                        (click)="loadNextQuestion()">{{ buttonText }}<svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.0597 12H9.08354M22.0597 12L16.8693 16M22.0597 12L16.8693 8M27.2502 12C27.2502 16.9706 22.0215 21 15.5716 21C9.12174 21 3.89307 16.9706 3.89307 12C3.89307 7.02944 9.12174 3 15.5716 3C22.0215 3 27.2502 7.02944 27.2502 12Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg></button>
                    <!-- <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p> -->
                </div>

            </div>
        </div>
        <!-- <div *ngIf="isLastQuestion" class="finalizacion-area">
            <button class="btn btn-primary btn btn-primary me-md-2 botonera-lg" (click)=" loadPageResultado()">{{ buttonText }}</button>
            <p *ngIf="isLastQuestion" style="margin-top: 1.5rem;">¡Has respondido todas las preguntas!</p>
            <p *ngIf="isLastQuestion" style="margin-top: 1.5rem;">¡{{respuestasPerfil.perfilInversor}}!</p>
        </div> -->
    </div>

    </div>

    


</div>