<section>
  <div class="touch-background" [ngClass]="{'active': menuMobile}" (click)="actionMenuMobile()"></div>
  <div class="menu-mobile" (click)="actionMenuMobile()">
    <img src="/assets/image/menu_mobile.svg" alt="">
  </div>
  <nav [ngClass]="{'active': menuMobile}">

    <div class="brand-box" [routerLink]="['/dashboard/cartera']">      
      <h2>Mercado<b>JR</b></h2>

      <img style="margin-left: 2px; margin-top: -14px;" src="assets/image/logo.svg" alt="">
    </div>
    <div class="container-ul" style="width: 90%; height: 50%; margin-left: -1.5rem;">
    <ul>
        <li routerLink='/dashboard/cartera' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/cartera-icon.svg" alt=""><span>Mi Cuenta</span>
        </li>
        <li routerLink='/dashboard/perfil-inversor' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/perfil-icon.svg" alt="">
          <span>Perfil Inversor</span>
          <p *ngIf="false" class="notif">1</p>
        </li>
        <li routerLink='/dashboard/precios' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/panel-precios-icon.svg" alt=""><span>Panel Precios</span>
        </li>
        <li routerLink='/dashboard/rendimiento' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/rendimiento-icon.svg" alt=""><span>Rendimiento</span>
        </li>
        <li  routerLinkActive="active" routerLink='/dashboard/prediccion' (click)="actionMenuMobile()">
          <img src="/assets/image/prediccion-icon.svg" alt=""><span>Predicción</span>
        </li>
    </ul>
  </div>
    <div class="portfolio-sugerido-container" (click)="openModal()" data-toggle="modal" data-target="#sugerido" >
      <img class="portfolio-sugerido" src="/assets/image/portfolio-sugerido-icon.svg" alt="Portofolio sugerido">
    </div>
    <div class="logout" (click)="cerrarSesion()">
      <span>Cerrar Sesión</span>
      <img src="/assets/image/logout.svg" alt="logout">
    </div>

  </nav>
  <div class="main-content">
    <app-modal-sugerido *ngIf="modalService.isModalOpen()" [portfolioSugerido]="portfolioSugerido"></app-modal-sugerido>
    <router-outlet></router-outlet>
  </div>
</section>

