section {
    min-height: 100vh;
    width: 100%;
    display: flex;
  
    nav {
      width: 20rem;
      background-color: #FFF;
      border-radius: 0 2rem 2rem 0;
      box-shadow: 4px 2px 8px #e8e8ef;
      padding: 2rem 1rem 1rem 1rem;
      position: fixed;
      height: 100vh;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      .brand-box {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-bottom: 2rem;
  
        img {
          height: 2.5rem;
          margin-right: .7rem;
        }
  
        h2 {
          margin: 0;
          font-size: 1.2rem;
        }
      }
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        padding-bottom: 45%;
  
        li {
          outline: none;
          cursor: pointer;
          text-decoration: none;
          border-radius: 7px;
          display: flex;
          align-items: center;
          color: #000000;
          font-weight: 700;
          padding: 1.2rem .9rem;
          position: relative;
          opacity: .7;
          user-select: none;
  
          img {
            width: 1.7rem;
            height: 1.7rem;
            margin-right: .7rem;
          }
  
          .notif {
            position: absolute;
            margin: 0;
            right: .9rem;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            background: #000;
            border-radius: 50%;
            height: 1.3rem;
            width: 1.3rem;
            text-align: center;
            font-size: .9rem;
            line-height: 1.3rem;
            box-shadow: 0px 4px 8px #e8e8ef;
          }
  
          &:hover {
            opacity: 1;
          }
  
          &.active {
            background-color: #f7f7f9;
            opacity: 1;
          }
        }
      }
  
      .logout {
        font-size: 0.85rem;
        border-radius: 7px;
        display: flex;
        align-items: center;
        color: #000000;
        font-weight: 600;
        padding: 1rem 0.9rem;
        width: 100%;
        box-sizing: border-box;
        background-color: #f7f7f9;
        justify-content: center;
        cursor: pointer;
  
        img {
          height: 1rem;
          margin-left: .7rem;
        }
      }
    }
  
    .main-content {
      width: 100%;
      padding: 5rem 5rem 5rem 25rem;
    }
  }
  
  @media(max-width:1600px) {
    section {
      nav {
        width: 18rem;
        overflow: hidden auto;
  
        .brand-box {
          img {
            height: 2rem;
          }
        }
  
        ul {
          padding-bottom: 0%;
  
          li {
            font-size: .9rem;
            padding: 1rem 0.9rem;
  
            img {
              width: 1.4rem;
              height: 1.4rem;
            }
          }
        }
  
        .logout{
          margin-top: 2rem;
      }
      }
  
      .main-content {
        padding: 2rem 3rem 3rem 21rem;
      }
    }
  }
  
  @media(max-width:992px) {
    section {
      .menu-mobile {
        position: fixed;
        right: .7rem;
        top: .7rem;
        border-radius: 50%;
        background-color: #000000;
        width: 2.2rem;
        height: 2.2rem;
        text-align: center;
        line-height: 2.4rem;
        z-index: 5;
  
        img {
          width: 1rem;
        }
      }
  
      .touch-background {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
  
        &.active {
          z-index: 2;
  
        }
      }
  
      nav {
        position: fixed;
        height: 100vh;
        width: 80%;
        max-width: 330px;
        top: 0;
        transform: translateX(-105%);
        transition-duration: .4s;
        z-index: 3;
  
        &.active {
          transform: none;
        }
  
        .logout {
          padding: 0.7rem 0;
        }
      }
  
      .main-content {
        width: 100%;
        padding: 3rem 1rem 1rem;
      }
    }
  }
  