<section>
  <div class="touch-background" [ngClass]="{'active': menuMobile}" (click)="actionMenuMobile()"></div>
  <div class="menu-mobile" (click)="actionMenuMobile()">
    <img src="/assets/img/menu_mobile.svg" alt="">
  </div>
  <nav [ngClass]="{'active': menuMobile}">
    <div class="brand-box">
      <img src="/assets/image/logo.svg" alt="">
      <h2>MercadoJr</h2>
    </div>
    <ul>
      <!-- *ngIf="!enabledAdminMode" -->
      <div>
        <!-- *ngIf="enabledPerfil" -->
        <li routerLink='/aprender' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/aprender.svg" alt="">
          <span>Aprender</span>
        </li>
        <li routerLink='/perfil-inversor' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/campana.svg" alt="">
          <span>Perfil inversor</span>
          <p *ngIf="false" class="notif">1</p>
        </li>
        <li routerLink='/foro' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/foro.svg" alt=""><span>Foro</span>
          <!--           *ngIf="quantityNotifications > 0"
          {{quantityNotifications}}
 -->
          <p class="notif">
            3
          </p>
        </li>
        <li routerLink='/cartera' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/perfil.svg" alt=""><span>Cartera</span>
        </li>
        <li routerLink='/panel-precios' routerLinkActive="active" (click)="actionMenuMobile()">
          <img src="/assets/image/perfil.svg" alt=""><span>Panel Precios</span>
        </li>
      </div>
    </ul>
    <!-- (click)="logout()" -->
    <div class="logout">
      <span>Nombre</span>
      <img src="/assets/img/logout.svg" alt="logout">
    </div>
  </nav>
  <div class="main-content">
    <router-outlet></router-outlet>
    <!-- <app-price-panel></app-price-panel> -->
  </div>
</section>
