.fade { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}
.modal-content {
    z-index: -1;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .modal-open .modal-content {
     z-index: 1050;
  }