@import "../../../../../../variables";

.valores{
  display: flex;
  height: 15%; 
  width: 80%;
  border: 3px solid #3261A8;
  border-radius: 15px;
}
.card-valores{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  
  .agrupado-monedas-instrumentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.cartera-grafico-section{
  width: 100%;
}
.total-valorizado-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 40%;
  border:none;
  background-color: transparent;
  b{
    h3{
      font-weight: bold;
    }
  }
  h2,ng-template{
    color:#3261A8;
    font-weight: bold;
  }
}
.container-fluid{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #fff;
    justify-content: center;
    padding: 2rem;
    .card{
        justify-content: center;
        text-align: center;
        height: auto;

        border:none;
        background-color: transparent;
        h2,ng-template{
            color:#3261A8;
            font-weight: bold;
          }
        .boton {
        background-color: $primary-color;
        color: $color-white;
        border-radius: 1.5rem;
        font-weight: bold;
        width: fit-content;
        }
        .fecha{
            font-size: smaller;
            float: right;
        }
    }
    .perfil{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      gap: 15px;
      .button-container{
        .boton{
          background-color: $primary-color;
          color: $color-white;
          border-radius: 1.5rem;
          font-weight: bold;
          width: fit-content;
        }
      }
    }
}

@media (max-width: 770px) {
    .container-fluid{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap:4rem;
    }
    .valores{
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
      align-items: center;
      gap: 40px;
    }
    .perfil{
      flex-direction: column !important;
      flex-wrap: wrap;
      width: 100% !important;
      .button-container{
        display: flex;
        justify-content: center;
        gap: 4rem;
        width: 100%;
      }
    }
    .card-valores{
      width: 100%;
    }
    .total-valorizado-section{
      width: 100%;
    }
}
@media (min-width: 770px) and (max-width: 1062px) {
  .valores{
    width: 100%;
  }
  .perfil{
    width: 100% !important;
  }
  .valores{
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .container-fluid{
    display: flex;
    gap:30px;
  
  }
  .card-valores{
    width: 100%;
  }
}
@media (min-width: 1062px) and (max-width: 1500px) {
  .valores{
    width: 100%;
  }
}
@media (min-width: 1500px){
  .perfil{
    margin-left: 2vw;
  }
}