<video class="bg-video" [muted]="'muted'" loop autoplay>
    <source src="assets/mp4/148596 (Original).mp4" type="video/mp4" />
</video>
<div class="container-landing">
    <div class="row">
        <div class="page-primario col-sm-12">
            <div class="px-4 px-lg-0 m-4 caja-negra">
                <img class="img-fluid col-md-3 slide-right" src="assets/image/Isologotipo V2.svg">
                <h3 class="Tilulo-page mb-2">Descubre el mundo de las finanzas con</h3>
                <h1 class="fst-italic Tilulo-Marca-page lh-1 mb-4" style="
                font-weight: lighter;">Mercado<strong style="font-weight: bold;">JR</strong></h1>
                <p class="Tilulo-Marca-Lema-page mb-5">Aprende y triunfa</p>
                <div class="row input-group-newsletter">
                    <div class="col-auto"><button routerLink='/login' class="boton-start-page btn-xl "
                            id="submitButton" type="submit">¡Proximamente!</button></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row seccion">
        <div class="col-sm-12 seccion-blanco text-center">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <div class="m-3">
                        <h2>Test de inversor</h2>
                        <p>te ayudaremos a descubrir el tipo de inversor que eres.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-5">
                        <img src="/assets/image/perfil-inversor-1.jpg" width="80%"
                            style="border-radius: 21px 21px 21px 21px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row seccion">
        <div class="col-sm-12 seccion-negro text-center">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-5">
                        <img src="/assets/image/sugerencia-2.jpg" width="80%"
                            style="border-radius: 21px 21px 21px 21px;">
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <div class="m-3">
                        <h2>Sugerencia de porfolio</h2>
                        <p>basándonos en nuestro test de inversor te sugeriremos un porfolio personalizado.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row seccion">
        <div class="col-sm-12 seccion-blanco text-center">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <div class="m-3">
                        <h2>Panel de precios</h2>
                        <p>panel de precios de instrumentos con valores reales.</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-5">
                        <img src="/assets/image/cartera-2.png" width="80%" style="border-radius: 21px 21px 21px 21px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row seccion">
        <div class="col-sm-12 seccion-negro text-center">
            <div class="row">
                <div class="col-sm-6">
                    <div class="p-5">
                        <img src="/assets/image/cartera-1.jpg" width="80%" style="border-radius: 21px 21px 21px 21px;">
                    </div>
                </div>
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <div class="m-3">
                        <h2>Simulación de cartera</h2>
                        <p>podrás tener una cartera de prueba con tus activos valorizados y adquirir
                            instrumentos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row seccion">
        <div class="col-sm-12 seccion-blanco text-center">
            <div class="row">
                <div class="col-sm-6 d-flex justify-content-center align-items-center">
                    <div class="m-3">
                        <h2>Predicción de precios</h2>
                        <p>podrás tener una visión a futuro de como del valor de un activo en el mercado.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="p-5">
                        <img src="/assets/image/prediccion-1.jpg" width="80%"
                            style="border-radius: 21px 21px 21px 21px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row seccion">
        <div class="col-sm-12 seccion-blanco text-center pb-4">
            <!-- routerLink='/login' -->
            <a href="https://www.instagram.com/mercado.jr/" class="btn-xl boton-descubre"
                            id="submitButton" style="text-decoration: none;">Siguenos en instagram para enterarte de las novedades.</a>
                
        </div>
    </div>
    <div class="row seccion devs">
        <div class="col-sm-12 seccion-negro text-center">
            <h1 class="my-3">Desarrollado por:</h1>
            <div class="row d-flex justify-content-center align-items-center px-5 text-center">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/assets/image/arnold.jpg" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2>Arnaldo Tomasini</h2>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle"
                        src="/assets/image/agus.jpg"
                        alt="Generic placeholder image" width="140" height="140">
                    <h2>Agustin Romero</h2>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/assets/image/machi.jpg" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2>José Machicado</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center px-5 pb-5 text-center">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/assets/image/nico.jpg" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Nicolas Herrera</h2>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle"src="/assets/image/joni.png"alt="Generic placeholder image" width="140"
                         height="140">
                    <h2>Jonathan Humana</h2>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="/assets/image/fer.jpg" alt="Generic placeholder image" width="140"
                        height="140">
                    <h2>Fernando Willian</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="social-icons">
        <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <!-- <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a> -->
            <!-- <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a> -->
            <a class="btn btn-dark m-3" href="https://www.instagram.com/mercado.jr/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>