<div class="container-fluid">
    <div class="titulo-intrumento-grafico">
        <h3>Instrumento</h3>
    </div>
    <div class="grafico">
        <app-grafico-linea></app-grafico-linea>
    </div>
    <div class="valores">
        <div class="titulo-valores">
            <b>
                <h4>Instrumento</h4>
            </b>
        </div>
        <div class="valor-actual">
            <h5 >$ Valor actual titulo</h5>
            <h2>valor actual</h2>
            <div class="fecha">fecha</div>
        </div>
        <div class="valor-futuro">
            <h5 >Valor Futuro titulo</h5>
            <h2>$valor futuro</h2>
            <div class="fecha">fecha</div>
        </div>
    </div>
</div>