<p>interes-compuesto works!</p>


<!-- <div class="container mt-3 mb-4 p-2"></div> -->
<div class="mt-3 mb-4 p-4">
  <div class="row justify-content-center">

    <!-- Área Izquierda para Multimedias -->
    <div class="col-md-3 p-3">
      <div class="asside-multimedias">
        <!-- Contenido multimedia aquí -->
        <img class="img-fluid" src="assets\\image\\FINANCE.png" alt="financeLogos">
        <img class="img-fluid" src="assets\\image\\baner finance.png" alt="Multimedia-Acciones">
      </div>
    </div>
  
    <!-- Área Central para Preguntas y Opciones -->
    <div class="col-md-6 p-3">  
      <app-trivia  [tematica]="'Interés Compuesto'"></app-trivia>
    </div>
    
    <!-- Área Derecha para Etapas -->
    <div class="col-md-3 p-3">
      <div class="asside-etapas">
        <!-- Botones o cuadros de etapas aquí -->
        <div class="asside-recompensabasicas  row justify-content-between">
          <h5>Vidas|</h5>
          <h5>dinero|</h5>
          <h5>Moneda personalizada</h5>
        </div>
  
        <button type="button" class="btn btn-block p-2 bg-light border disabled">Los instrumentos son....</button>
        <button type="button" class="btn btn-block p-2 bg-light border">Encuentra al instrumento</button>
        <button type="button" class="btn btn-block p-2 bg-light border disabled">
          <!-- Otra etapa --></button>
      </div>
    </div>
  
  </div>
</div>

<!-- <div class="row justify-content-center">
  <!-- Área Izquierda para Multimedias -->
  <!-- <div class="col-md-3 col-12 p-2">
      <!-- Contenido multimedia aquí -->
  <!-- </div>
  <!-- Área Central para Preguntas y Opciones -->
  <!-- <div class="col-md-6 col-12 p-2">
      <!-- Contenido central aquí -->
  <!-- </div>
  <!-- Área Derecha para Etapas -->
  <!-- <div class="col-md-3 col-12 p-2">
      <!-- Contenido de la derecha aquí -->
  <!-- </div> --> --> --> --> --> -->
<!-- </div> --> -->
