><div class="container bg-white">
  <div class="row">
    <div class="card p-2" style="width: 18rem;">
      <img class="card-img-top" src="assets\image\imagen-preguntas.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Administrar Preguntas</h5>
        <p class="card-text">Adminiatre las preguntas para los test de perfiles subjetivo u Objetivos</p>
        <a href="./dashboard/administrar-preguntas" class="btn btn-primary">ir a cargar preguntas Nuevas</a>
      </div>
    </div>

  </div>

</div>