<table class="table table-striped text-center">
  <tbody>
    <tr>
      <td>Simbolo</td>
      <td>Último Operado</td>
      <td>Variacion Diaria</td>
      <td>Cantidad Compra</td>
      <td>Precio Compra</td>
      <td>Precio Venta</td>
      <td>Cantidad Venta</td>
      <td>Apertura</td>
      <td>Minimo</td>
      <td>Máximo</td>
      <td>Último Cierre</td>
      <td>Monto Operado</td>
      <td></td>
    </tr>
    <tr>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td> <button
        (click)="prueba()"
        type="submit" class="btn btn-primary w-100 mt-2">
          prueba
        </button></td>
      <td >{{algo}}</td>
    </tr>
   
<ul>
  <!-- Iteramos sobre el array y mostramos cada objeto -->
  <li *ngFor="let object of objects">
    <p>Nombre: {{ object.name }}</p>
    <p>Edad: {{ object.age }}</p>
  </li>
</ul>
    <tr >
      <td></td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
      <td>fila</td>
    </tr>
</table>