<p>stage-two works!</p>
<div class="container main-container bg-white">
    <div class="brand-box pt-2">
        <h2>MercadoJr</h2>
        <img src="/assets/image/logo.svg" alt="">
    </div>
    <div class="container-perfil p-4">

        <!-- Botón Siguiente Pregunta aquí -->
        <div *ngFor="let pregunta of preguntas">
            <h3>{{ pregunta.pregunta }}</h3>
            <ng-container *ngIf="pregunta.tipoContenido === 'imagen'; else textoContenido">
                <img [src]="pregunta.descripcion" alt="Imagen">
            </ng-container>
            <ng-template #textoContenido>
                <p>{{ pregunta.descripcion }}</p>
            </ng-template>
            <!-- Renderizar opciones aquí -->
            <div class="row">
                <div *ngFor="let opcion of pregunta.opciones" class="col-auto">
                    <input type="button" id="{{ opcion }}" name="{{opcion.texto}}" value="{{opcion.texto}}">
                    <!-- <label for="{{ opcion }}">{{ opcion }}</label> -->
                </div>
            </div>

        </div>
        <div class="justify-content-md-end" style="text-align: center;">
            <button class="btn btn-primary btn btn-primary me-md-2" *ngIf="!isLastQuestion"
                (click)="loadNextQuestion()">{{ buttonText }}</button>
            <!-- <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p> -->
        </div>

        <div *ngIf="isLastQuestion" style="text-align: center;">
            <button class="btn btn-primary btn btn-primary me-md-2" (click)="loadHome()">{{ buttonText }}</button>
            <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p>
        </div>



    </div>

</div>