<div class="container main-container bg-white">
    <div class="brand-box pt-2">
        <h2>MercadoJr</h2>
        <img src="/assets/image/logo.svg" alt="">
    </div>
    <div class="container-perfil p-4">

        <div>
            <h3>
                Antes de arrancar te realizaremos un breve cuestionario.
                Ésto tiene como fin ayudarte a conocer tu perfil como inversor de acuerdo a tus objetivos y necesidades.
            </h3>
        </div>
        <img class="mx-auto d-block"src="\assets\image\Group Goals-Perfil.svg">
    </div>
    <div>
        <button class="bnt btn-Iniciar btn-primary ">Iniciar</button>
    </div>

</div>