//login
$primary-color: #5644FC; 
$color-white: #FFFFFF;


$font-gral: #87A4CF;
$positive-status: #E3FDFA ;
$positive-status-font: #00DFCC;
$negative-status: #FFF1F8;
$negative-status-font: #FF84AA;
$prepare-status: #f1f1ff;
$prepare-status-font: #87A4CF;
$border: 1px solid #e0e0e6;
$background-nav: #ffffff