
.container-page{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc; /* Agregamos un borde delgado al contenedor */
    padding: 2rem 0 2rem 0;
    height: 760px; /* Espaciado para el borde */ /* Hacer que el contenedor ocupe toda la altura disponible */
    .section1,
    .section3 {
      flex: 1;
      background-color: #f0f0f0;
      padding: 0 1rem ;
      border: 1px solid #ccc; /* Agregamos un borde delgado a las secciones */
    }
    .logo-container{
      display: flex; /* Utilizar flexbox para centrar verticalmente */
      flex-direction: column;
      justify-content: center; /* Centrar verticalmente los elementos hijos (el logo) */
      width: 100%;
      height: 25%; 
      #logo {
        width: auto;
        height: auto; /* El logo ocupará todo el ancho del contenedor */ /* La altura se ajustará automáticamente para mantener la proporción */
      }
    }
    .section2 {
      flex: 3; /* Esta sección ocupará el 60% del ancho total */
      background-color: #e0e0e0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ccc; /* Agregamos un borde delgado a la sección 2 */
      .education-logo{
        width: 5%;
        height: 5%;
      }
      .title{
        margin-top: 2rem;
        width: auto;
      }
      .progress-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        ngb-progressbar{
          width: 80%;
           // Ajusta el ancho de la barra de progreso según tus necesidades
        }
        ::ng-deep .text-bg-success{
          background-color:#00E075 !important;;
        }
      }
      .subtitle{
        width: auto;
      }
      .info-container{
        width: 80%;
        height: auto;
        border: 1px solid #ccc;
      }
      .button-next{
        width: 80%;
        margin-top: auto;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10%;
      }
      .me-md-2{
        margin-right: 0px !important;
      }
    }
    .section3{
      .button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        gap: 15%;
        margin-top: auto;
      }
    }
  }