<p>acciones works!</p>

<div class="row justify-content-center">

  <!-- Área Izquierda para Multimedias -->
  <div class="col-md-3">
    <div class="asside-multimedias">
      <!-- Contenido multimedia aquí -->
      <img src="assets\\image\\FINANCE.png" alt="financeLogos">
      <img src="assets\\image\\baner finance.png" alt="Multimedia-Acciones">
    </div>
  </div>

  <!-- Área Central para Preguntas y Opciones -->
  <div class="col-md-6">
    <div class="question-container">
      <h2>Pregunta</h2>
      <p class="card">{{ quest.pregunta }}</p>

      <!-- Opciones de respuesta aquí -->
      <div class="container">
        <div class="row gap-2">
          <div *ngFor="let opcion of options" class="col-md-6">
            <button type="button" class="btn btn-block p-2 bg-light border"
              (click)="onOptionSelected(opcion.texto)">{{ opcion.texto }}</button>
          </div>
        </div>
      </div>

      <!-- Botón Siguiente Pregunta aquí -->
      <div class="container d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary btn btn-primary me-md-2" *ngIf="!isLastQuestion"
          (click)="loadNextQuestion()">Siguiente Pregunta</button>
        <p *ngIf="isLastQuestion">¡Has respondido todas las preguntas!</p>
      </div>
    </div>
  </div>

  <!-- Área Derecha para Etapas -->
  <div class="col-md-3">
    <div class="asside-etapas">
      <!-- Botones o cuadros de etapas aquí -->
      <div class="asside-recompensabasicas  row justify-content-between">
        <h5>Vidas|</h5>
        <h5>dinero|</h5>
        <h5>Moneda personalizada</h5>
      </div>


      <button type="button" class="btn btn-block p-2 bg-light border">Introducción sobre los instrumentos</button>
      <button type="button" class="btn btn-block p-2 bg-light border">Descubra el instrumento</button>
      <button type="button" class="btn btn-block p-2 bg-light border">
        <!-- Otra etapa --></button>
    </div>
  </div>

</div>
